<article>


  <div class="text">


    <h1 class="heading-xlarge-noback">Your 2015 Basic Payment Scheme claim has not been submitted </h1>


    <p>The link you clicked to send us your application is no longer valid. This means that this claim has not been made.</p>


    {{>contactdetails}}


  </div>


</article>