<article>


  <div class="text">


    <header class="page-header-noback">

      <h1><abbr title="Basic Payment Scheme">BPS</abbr> 2015 Fasttrack Application</h1>

      <dl class="list-parcel">
        <dt>SBI</dt>
        <dd>SJ80634541</dd>
        <dt>Token</dt>
        <dd>SJ80634541</dd>
      </dl>

    </header>


    <div class="alert-complete" role="alert">

      <div class="alert-message">

        <p>You have submitted your <abbr title="Basic Payment Scheme">BPS</abbr> 2015 Fasttrack Application to Rural Payments. Your reference number is:</p>

        <strong class="alert-number">200113567</strong>

      </div>

    </div>


    <p class="font-xsmall text-secondary">If you have any queries about your application, please contact <br> Rural Payments on <b>03000 200 301</b>.</p>


  </div>


</article>