<article>


  <div class="text">


    <header class="page-header-noback">

      <h1>You&#8217;ve made your 2015 Basic Payment Scheme application</h1>

      <dl class="list-parcel">
        <dt>Date</dt>
        <dd>01/04/2015</dd>
        <dt>SBI</dt>
        <dd>SJ80634541</dd>
      </dl>

    </header>


    <p>You have successfully submitted your 2015 Basic Payment Scheme application to the Rural Payments Agency and we can confirm we&#8217;ve received it.</p>

    <p>Your reference number is: <b>12345</b>. Use this number if you need to contact us about your application.</p>

    <p>You don&#8217;t need to print and return your application form to us. But we recommend you print a copy of the following and keep them for your records:</p>

    <ul class="list-bullet">
      <li>the email we sent you with your application form</li>
      <li>your application form</li>
      <li>this email&#44; which confirms you have submitted your claim</li>
    </ul>

    {{>contactdetails}}


  </div>


</article>