<article>


  <div class="text">


    <header class="page-header-noback">

      <h1>We&#8217;ve already received an application for this business</h1>

      <dl class="list-parcel">
        <dt>SBI</dt>
        <dd>SJ80634541</dd>
      </dl>

    </header>


    <p>A 2015 Basic Payment Scheme application for this business has already been submitted to us by:</p>


    <ul class="list-bullet">
      <li>someone else in your business&#44; or</li>
      <li>someone with permissions to make the application on your behalf</li>
    </ul>


    <p>The reference number for that application is: <b>8354875</b>.</p>


    {{>contactdetails}}


  </div>


</article>