<article>


  <div class="text">


    <header class="page-header-noback">

      <h1><abbr title="Basic Payment Scheme">BPS</abbr> 2015 Fasttrack Application</h1>

      <dl class="list-parcel">
        <dt>SBI</dt>
        <dd>SJ80634541</dd>
        <dt>Token</dt>
        <dd>SJ80634541</dd>
      </dl>

    </header>


    <div class="alert-info" role="alert">

    	<span class="icon icon-cross" role="presentation"></span>

    	<div class="alert-message">
    		<p>An application for this business has already been submitted to Rural Payments. Your reference number is: <b>200113567</b></p>
    	</div>

    </div>


    <p class="font-xsmall text-secondary">If you have any queries about your application, please contact <br> Rural Payments on <b>03000 200 301</b>.</p>


  </div>


</article>