<article>


  <div class="text">


    <header class="page-header-noback">

      <h1>Confirm your 2015 Basic Payment Scheme application</h1>

      <dl class="list-parcel">
        <dt>SBI</dt>
        <dd>SJ80634541</dd>
      </dl>

    </header>


    <p class="lede">Thank you for clicking the &#8216;apply now&#8217; button in the email we sent you. To apply&#44; you need to click the &#8216;Confirm and submit application&#8217; at the bottom of this page.</p>


    <p>You can only click the &#8216;Confirm and submit application&#8217; button if you:</p>


    <ul class="list-bullet">
      <li>agree with the declaration in Part M of your application form</li>
      <li>don&#8217;t need to make any changes to the pre&ndash;printed application form we sent you</li>
      <li>don&#8217;t need to send us any continuation booklets to tell us more about your land</li>
      <li>don&#8217;t need to send us an RLE1 form to tell us about any changes to your land or to transfer entitlements</li>
    </ul>


    <h3 class="heading-medium">Confirm your application</h3>


    <p>If you click the &#8216;Confirm and submit your application&#8217; button&#44; you are confirming that:</p>


    <ul class="list-bullet">
      <li>you are the beneficiary of the business making this application&#44; or empowered to act on behalf of the beneficiary</li>
      <li>you qualify automatically as an active farmer</li>
      <li>the pre&ndash;printed information about your land and entitlements is complete and correct</li>
      <li>you are exempt from the greening rules</li>
      <li>you don&#8217;t want to apply for the young farmer payment</li>
      <li>you don&#8217;t want to apply for entitlements from the national reserve</li>
      <li>you won&#8217;t be applying for <abbr title="Basic Payment Scheme">BPS</abbr> in another part of the UK (Northern Ireland&#44; Wales or Scotland)</li>
    </ul>


    <div class="panel-indent">
      <p>By clicking this button you are agreeing the declaration and responsibilities in Part M of the application form&#44; and confirming everything in the list above.</p>
    </div>


    <p><a role="button" href="#" class="button button-get-started">Confirm and submit your application</a></p>


    {{>contactdetails}}


  </div>


</article>