<article>


  <div class="text">


    <h1 class="heading-xlarge-noback"><abbr title="Basic Payment Scheme">BPS</abbr> Fasttrack Application service unavailable</h1>


    <p>The <abbr title="Basic Payment Scheme">BPS</abbr> 2015 fasttrack service is currently unavailble, please try again in a few minutes or alternatively contact Rural Payments on <b>03000 200 301</b>.</p>


  </div>


</article>