<article>


  <div class="text">


    <h1 class="heading-xlarge-noback">The Basic Payment Scheme application service is unavailable</h1>


    <p>The application service for the Basic Payment Scheme is currently unavailable. Your application has not been sent to the Rural Payments Agency. Please try again in a few hours.</p>


    {{>contactdetails}}


  </div>


</article>